@import "tailwindcss";

@theme {
  /* This creates the utility class: font-montserrat */
  --default-font-family: "Tenor Sans", sans-serif;

  --font-weight-ultra-thick: 1000;
  --font-weight-demi: 650;
  --font-weight-semibold: 580;
  --breakpoint-xs: 550px;

  --text-subtitle: clamp(12px, calc(11.39px + 0.43vw), 18px); 
  --text-title: clamp(30px, 2.5vw, 40px);
  --text-date: clamp(16px, calc(14.06px + 0.52vw), 22px);
  --text-banner-subtitle: clamp(13px, 2.5vw, 18px);
  --text-banner-heading: clamp(44px, calc(34.31px + 2.58vw), 74px);
  --text-banner-ampersand: clamp(38px, calc(29.60px + 2.24vw), 64px);
  --text-countdown-number: clamp(18px, 2.5vw, 36px);
  --text-countdown-label: clamp(8px, 2vw, 11px);
  --text-content: clamp(16px, 2vw, 18px);
  --text-details: clamp(14px, 2vw, 16px);
  --text-base: 16px;

  --color-subtitle-color: #555555;
  --color-title-color: #202020;

  --breakpoint-xs: 550px;
}

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }
}